/**********************************************************************************
*
*   Copyright 2024 Subteno - Timothée Vannier (https://www.subteno.com).
*   License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl).
*
**********************************************************************************/

.o_portal_contact_img {
    width: 2.3em;
    height: 2.3em;
    object-fit: cover;
}
