.o_preview_directory {
    padding: 20px 30px 20px 30px;

    .btn-primary {
        margin: 0.1em;
    }
    a.o_preview_file:hover {
        cursor: pointer;
    }
    .right_info p {
        margin-bottom: 0;
    }
}
